.ui-inputfield {
	box-shadow: none;
}

.ui-inputfield.ui-state-focus {
	box-shadow: none;
}

.text-center {
	text-align: center;
}

.ui-inputfield.inTableInput {
	margin: 3px 2px;
	box-sizing: border-box;
	width: -webkit-fill-available;
	width: -moz-available;
}